<h1>Student Register</h1>
<form action="/register" method="POST">
    
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="Enter the Username"><br><br>
    
    <label for="email">email</label>
    <input type="email" name="email" placeholder="Enter Email"><br><br>
    
    <label for="mobile">Mobile no</label>
    <input type="number" name="mno" placeholder="Enter Mobile Number"><br><br>

    <label for="password">password</label>
    <input type="password" id="password" name="password" placeholder="Enter the Password"><br><br>
    
    
    <button type="submit" value="submit">Register</button>
</form>
<a href="/login">Login</a>